.table-container {
    max-height: 500px; /* Hauteur maximale du conteneur de table */
    overflow-y: auto; /* Activer le défilement vertical */
  }
  
  .table thead th {
    position: sticky;
    top: 0;
    z-index: 1; /* Assurer que les en-têtes sont au-dessus du contenu */
  }
  